Q1. Ans

In [1]:
def find_common_elements(arr1, arr2, arr3):
    i = j = k = 0
    result = []

    while i < len(arr1) and j < len(arr2) and k < len(arr3):
        if arr1[i] == arr2[j] == arr3[k]:
            result.append(arr1[i])
            i += 1
            j += 1
            k += 1
        elif arr1[i] <= arr2[j] and arr1[i] <= arr3[k]:
            i += 1
        elif arr2[j] <= arr1[i] and arr2[j] <= arr3[k]:
            j += 1
        elif arr3[k] <= arr1[i] and arr3[k] <= arr2[j]:
            k += 1

    return result


arr1 = [1, 2, 3, 4, 5]
arr2 = [1, 2, 5, 7, 9]
arr3 = [1, 3, 4, 5, 8]

result = find_common_elements(arr1, arr2, arr3)
print(result)

[1, 5]

Q2. Ans

In [2]:
def find_missing_elements(nums1, nums2):
    set_nums1 = set(nums1)
    set_nums2 = set(nums2)

    diff_nums1 = list(set_nums1 - set_nums2)
    diff_nums2 = list(set_nums2 - set_nums1)

    return [diff_nums1, diff_nums2]


nums1 = [1, 2, 3]
nums2 = [2, 4, 6]

result = find_missing_elements(nums1, nums2)
print(result)

[[1, 3], [4, 6]]

Q3. Ans

In [3]:
def transpose(matrix):
    m = len(matrix)
    n = len(matrix[0])
    result = [[0] * m for _ in range(n)]  # Initialize the result matrix

    for i in range(m):
        for j in range(n):
            result[j][i] = matrix[i][j]

    return result


matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

result = transpose(matrix)
print(result)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

Q4. Ans

In [4]:
def array_pair_sum(nums):
    nums.sort()
    max_sum = 0

    for i in range(0, len(nums), 2):
        max_sum += nums[i]

    return max_sum



nums = [1, 4, 3, 2]

result = array_pair_sum(nums)
print(result)

4

Q5. Ans

In [5]:
def arrange_coins(n):
    left = 1
    right = n

    while left <= right:
        mid = left + (right - left) // 2
        curr_sum = mid * (mid + 1) // 2

        if curr_sum == n:
            return mid

        if curr_sum > n:
            right = mid - 1
        else:
            left = mid + 1

    return right



n = 5

result = arrange_coins(n)
print(result)

2

Q6. Ans

In [6]:
def sorted_squares(nums):
    result = []

    for num in nums:
        result.append(num * num)

    result.sort()

    return result


nums = [-4, -1, 0, 3, 10]

result = sorted_squares(nums)
print(result)

[0, 1, 9, 16, 100]

Q7. Ans

In [7]:
def max_count(m, n, ops):
    min_rows = m
    min_cols = n

    for op in ops:
        min_rows = min(min_rows, op[0])
        min_cols = min(min_cols, op[1])

    return min_rows * min_cols



m = 3
n = 3
ops = [[2, 2], [3, 3]]

result = max_count(m, n, ops)
print(result)

4

Q8. Ans

In [8]:
def shuffle_array(nums, n):
    x_nums = nums[:n]
    y_nums = nums[n:]

    result = []

    for i in range(n):
        result.append(x_nums[i])
        result.append(y_nums[i])

    return result



nums = [2, 5, 1, 3, 4, 7]
n = 3

result = shuffle_array(nums, n)
print(result)

[2, 3, 5, 4, 1, 7]